:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #ffc972;
  --color-brand-alt: cornflowerblue;

  --font-sans: "Liberation Sans";
  --font-serif: "FreeSerif";
  --font-heading: "Gloock";
  --font-mono: "Liberation Sans Mono";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
