/* TOKENS */
/*-------------------------------------------*/
:root {
  /* COLORS */
  --c-primary-6: #401600;
  --c-primary-5: #752100;
  --c-primary-4: #cd3c00;
  --c-primary-3: #fd4d00;
  --c-primary-1: #fff8f5;

  --c-secondary-6: #001f28;
  --c-secondary-5: #00404f;
  --c-secondary-4: #007590;
  --c-secondary-1: #e3f7ff;

  /* SPACES */
  --s-xl: 3rem;
  --s-lg: 2rem;
  --s-md: 1.5rem;
  --s-sm: 1rem;
  --s-xs: 0.75rem;
  --s-xxs: 0.5rem;

  /* GAPS */
  --g-lg: 2rem;
  --g-md: 1.5rem;
  --g-sm: 0.5rem;

  /* SHADOWS */
  --shadow-color: 0deg 0% 0%;

  --shadow-1:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.1),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.1);

  --shadow-2:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.11),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.11),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.11),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.11);

  --shadow-3:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.11),
    1.7px 3.3px 4.2px -0.4px hsl(var(--shadow-color) / 0.11),
    3.2px 6.5px 8.2px -0.8px hsl(var(--shadow-color) / 0.11),
    5.7px 11.3px 14.2px -1.2px hsl(var(--shadow-color) / 0.11),
    9.6px 19.3px 24.3px -1.7px hsl(var(--shadow-color) / 0.11),
    15.9px 31.7px 39.9px -2.1px hsl(var(--shadow-color) / 0.11),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.11);
}

/* DEFAULTS */
/*-------------------------------------------*/
.visually-hidden {
  visibility: hidden;
  position: absolute;
}

:root {
  background-color: var(--c-primary-1);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  line-height: 1;
  color: var(--c-primary-4);
}

h2 {
  color: var(--c-primary-4);
}

h3 {
  color: var(--c-primary-6);
}

a,
a:visited {
  color: var(--c-secondary-5);
  font-weight: 500;
}

p,
li,
dt,
dd {
  color: var(--c-primary-6);
}

/* STYLES */
/*-------------------------------------------*/

.container {
  max-width: 48rem;
  margin: 0 auto;
  padding: 3.5rem 1rem;
}

.download-btn {
  margin-top: 1.5rem;
  border-radius: 6px;
  border: 2px solid var(--c-primary-3);
  background-color: transparent;
  cursor: pointer;
  color: var(--c-primary-6);
  display: block;
  font-weight: bold;
  margin-left: auto;
  padding: var(--g-sm);

  box-shadow: var(--shadow-1);
}

.download-btn:hover {
  box-shadow: var(--shadow-2);
}

@media print {
  .download-btn {
    display: none;
  }

  .container {
    padding-top: 1rem;
  }
}

/* HEADER */
/*-------------------------------------------*/
.header {
  margin-bottom: var(--g-md);
}

@media (min-width: 500px) {
  .header {
    --subgrid: repeat(3, 1fr);
    --subgrid-gap: 0rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: var(--subgrid);
    gap: var(--subgrid-gap);
  }

  .header__title,
  .header__subtitle {
    grid-column: 1;
  }

  .header__subtitle {
    align-self: center;
  }

  .contact-box {
    grid-column: 2;
    grid-row: 1/3;
    justify-self: end;
  }
}

.contact-box {
  align-items: center;
  display: grid;
  grid-template-rows: var(--subgrid);
  grid-row: 1/-1;
  list-style: none;
  padding: 0;
  gap: var(--subgrid-gap);
}

.contact-box__item > a {
  align-items: center;
  text-decoration: none;
  display: flex;
}

.contact-box__item > a:hover {
  text-decoration: var(--c-primary-4) underline wavy;
}

.icon {
  height: 1.875rem;
}

.contact-box__item .icon {
  margin-right: 1.25rem;
}

/* CONTENT */
/*-------------------------------------------*/
.content {
  display: grid;
  gap: var(--g-md);
}

.section__title {
  margin-bottom: 0.5rem;
}

.article-list {
  list-style: none;
  padding: 0;
}

.article-list .article:not(:last-child) {
  margin-bottom: 1.5rem;
}

.article__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
}

.article__title {
  font-weight: bold;
  font-size: 1.125rem;
}

.bulletpoints {
  list-style-type: disc;
}

.bulletpoints-multi-column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
}
