:root {
    --c-primary-4: #0400ff;
    --c-primary-3: #657eff;

    --c-secondary-2: #f7f311;

    --c-neutral-6: #222;
    --c-neutral-4: #6f6f6f;
    --c-neutral-3: #8b8b8b;
    --c-neutral-2: #e2e2e2;
    --c-neutral-1: #f6f6f6;
}
